<!-- views/partials/_recommendations.ejs -->
<!-- <div class="recommendations">
  <h2>Recommended for You</h2>
  <div class="product-cards">
    <% products.forEach(product => { %>
      <div class="product-card">
        <img src="<%= product.images[0] %>" alt="<%= product.title %>">
        <div class="product-info">
          <h3><%= product.title %></h3>
          <p class="price">₹<%= product.sellingPrice.toFixed(2) %></p>
          <a class="details-link" href="/products/<%= product._id %>/<%= product.slug %>">View Details</a>
        </div>
      </div>
    <% }); %>
  </div>
</div> -->

<div class="product-section">
  <h2>Recommended for You</h2>
  <div class="product-row" id="row-1">
    <% products.forEach(prod => { %>
      <% if (prod.categories.includes("Mobile")) { %>
        <a href="/products/<%= prod._id %>/<%= prod.slug %>" class="product-card">
          <div class="img-container">
            <img src="<%= prod.images[0] %>" alt="<%= prod.title %>" />
          </div>
          <div class="product-desc">
            <p class="product-name"><%= prod.title %></p>
            <p class="product-price"><b>₹<%= prod.sellingPrice.toFixed(2) %></b></p>
          </div>
        </a>
      <% } %>
    <% }); %>
  </div>
  <button class="product-button-left" onclick="slide('row-1', -1)">&#9664;</button>
  <button class="product-button-right" onclick="slide('row-1', 1)">&#9654;</button>
</div>

<div class="product-section">
  <h2>Recommended for You</h2>
  <div class="product-row" id="row-1">
    <% products.forEach(prod => { %>
      <% if (prod.categories.includes("Laptops")) { %>
        <a href="/products/<%= prod._id %>/<%= prod.slug %>" class="product-card">
          <div class="img-container">
            <img src="<%= prod.images[0] %>" alt="<%= prod.title %>" />
          </div>
          <div class="product-desc">
            <p class="product-name"><%= prod.title %></p>
            <p class="product-price"><b>₹<%= prod.sellingPrice.toFixed(2) %></b></p>
          </div>
        </a>
      <% } %>
    <% }); %>
  </div>
  <button class="product-button-left" onclick="slide('row-1', -1)">&#9664;</button>
  <button class="product-button-right" onclick="slide('row-1', 1)">&#9654;</button>
</div>