<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="Np_iSFILlMyov0SU1lOMmwOjFCf8f-9OOzAVj2103nM" />
  <title><%= typeof title !== 'undefined' ? title : 'Default Title' %></title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon"  sizes="32x32">
  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="<%= typeof ogTitle !== 'undefined' ? ogTitle : title %>">
  <meta property="og:description" content="<%= typeof ogDescription !== 'undefined' ? ogDescription : 'Default description' %>">
  <meta property="og:image" content="<%= typeof ogImage !== 'undefined' ? ogImage : 'https://yourdomain.com/default-image.jpg' %>">
  <meta property="og:image:width" content="1200">
<meta property="og:image:height" content="627">
  <meta property="og:url" content="<%= typeof ogUrl !== 'undefined' ? ogUrl : 'https://yourdomain.com/default-url' %>">
  <meta property="og:type" content="<%= typeof ogType !== 'undefined' ? ogType : 'website' %>">

  <!-- <title>UrbanMart</title> -->
  
  <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome"
    href="/css/app-wa-d53d10572a0e0d37cb8d614a3f177a0c.css?vsn=d" />

  <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome"
    href="/css/app-wa-54e7be3a62ca9b7580d7f8c669f59e74.css?vsn=d" />

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css" />

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-duotone-solid.css" />

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-thin.css" />

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-solid.css" />

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-regular.css" />

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-light.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Kanit&display=swap"
      rel="stylesheet"
    />
  <!-- Use absolute paths if static files are served from /public -->
   <link rel="stylesheet" href="/css/auth.css">
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/v-listing.css" />
  <link rel="stylesheet" href="/css/show.css" />
  <link rel="stylesheet" href="/css/checkout.css" />
  <link rel="stylesheet" href="/css/cart.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/browsing.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/cart.css" />
  <link rel="stylesheet" href="/css/checkout.css" />
  <script src="/js/cashfree.js" defer></script>
  <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>

  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css" />
</head>

<body>
  
  <div class="main-container-body">
    <%- include('../includes/navbar.ejs') %> 
    <%- include('../flash/flash.ejs') %> 
    <%- body %>
  </div>
  <%- include('../includes/footer.ejs') %>
  <script src="/js/cart.js"></script>
  <script src="/js/show.js"></script>
  <script src="/js/search.js"></script>
  <script src="/js/home.js"></script>
  <script src="/js/navbar.js"></script>
</body>
</html>

